<div class="container d-flex justify-content-between my-3 list">
  <h1 data-dark-target="dark"><%= @list.name %> - <span id="nbmovies"><%= @list.movies.length %> movies</span></h1>
  <%= link_to new_list_bookmark_path(@list) do %>
    <i class="fas fa-plus-square" data-dark-target="dark"></i>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <% @list.movies.each do |movie| %>
      <div class="col-md-6 mb-4">
        <% bookmark =  movie.bookmarks.select{|bm| bm.list = @list}.first %>
        <div class="card-movie">
          <img src= <%= movie.poster_url %>>
          <div class="card-movie-details">
            <div class="card-movie-infos">
              <div class="d-flex justify-content-between">
                <h2><%= movie.title %></h2>
                <span id="rating"><%= movie.rating %> ⭐️</span>
              </div>
              <p class="my-2" id="overview"><%= truncate(movie.overview, :length => 200) %></p>
            </div>
            <div class="card-movie-bookmark">
              <div class="quotation d-flex">
                <i class="fas fa-quote-left"></i>
                <p ><%= bookmark.comment %></p>
              </div>
              <p>
                <%= link_to("Delete",
                          bookmark_path(bookmark),
                          method: :delete,
                          data: { confirm: "Are you sure?"},
                          class: "text-danger") %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-6 mb-4">
      <div class="card-movie addmovie">
        <i class="fas fa-plus plusmovie" data-dark-target="dark"></i>
      </div>
    </div>
  </div>
</div>
